<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Persent Calculator</title>
    <link rel="icon" type="image/png" href="calc_icon.png">
    <link rel="stylesheet" type="text/css" href="reset.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl" class="content">
      <div class="inputTitle">Highest Possible Score</div>
      <input type="text" id="maxPoint" name="maxPoint" ng-model="maxPoint">
      <div class="inputTitle">Achieved Point</div>
      <input type="text" id="achievedPoint" name="achievedPoint" ng-model="achievedPoint">
      <div class="result">
        {{ scoreValue() }}
      </div>
      <div class="author">
        by Daniel Kanyo
      </div>
    </div>

    <script type="text/javascript" src="function.js"></script>
  </body>
</html>
